<?xml version="1.0" encoding="utf-8"?>
<!--
Student Name: Supriyo Ghosh
Student ID#: 215318728
Lab D2 is done individually
https://youtu.be/P9beGKv4cyo
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.yorku.mcalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EntryForm"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>